language: go

go:
  - 1.4
  - 1.5
  - 1.6
  - 1.7
  - tip

script:
  - '[[ $(go version) =~ 1.[45] ]] || go get -u github.com/golang/lint/golint'
  - test -z "$(gofmt -l .)"
  - '[[ $(go version) =~ 1.[45] ]] || test -z "$(golint ./...)"'
  - go test -v ./...
